*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;

}

@font-face {
    font-family: 'Yusei';
    src: url(/fonts/YuseiMagic-Regular.ttf);
}

body {
    background-image: url(/IMG/6221846.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Yusei', sans-serif;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login {
    background: transparent;
    margin-top: 170px;
    border: 2px solid rgba(255, 255, 255, .2);
    fill: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 60px 55px;
    border-radius: 10px;
}

.cadastro {
    background: transparent;
    margin-top: 30px;
    border: 2px solid rgba(255, 255, 255, .2);
    fill: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 60px 55px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font: 800 35px 'Yusei', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    font: 400 15px 'Yusei', sans-serif;
}

button {
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #014040;
    color: white;
    font: 400 20px 'Yusei', sans-serif;
}

.mensagem {
    font: 200 15px 'Yusei', sans-serif;
}

.imagem {
    position: absolute;
    z-index: 1;
    top: 80px;
}

img {
    width: 150px;
}
